body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 70px;
}
.wrapper {
    background-image: url(assets/craps-2.jpg);
    width: 1025px;
    height: 789px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 3px solid black;
    border-radius: 15px;
}
.frame {
    background: rgb(94, 39, 39);
    width: 385px;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 30px;
    box-shadow: 25px 25px 100px 100px rgba(8, 8, 8, 90%);

}
.content {
    background-image:url(assets/green.jpg);
    border-radius: 20px;
    width: 360px;
    height: 460px;
    
}
.heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 360px;
    height: 170px;
    margin-top: 20px;
    color: white;
}
#roll-heading {
    font-family: 'Bebas Neue';
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.04em;
    color: white;
    animation-play-state: paused;
    animation-name: flash;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


@keyframes flash {
    0% {
     color: white;
    }
    10% {
        color: yellow
    }
}

@keyframes flash-black {
    0% {
     color: white;
    }
    10% {
        color: rgb(7, 7, 7)
    }
}






#player-heading {
    font-family: 'Bebas Neue';
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.04em;
}
#score-heading {
    font-family: 'Bebas Neue';
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.head-join {
    width: 150px;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 155px;
}
.rolled {
    margin-left: 3px;
    margin-top: 36px;
    font-style: italic;
    font-size: 20px;
}
.dice-img {
    width: 360px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roll-button-box {
    width: 360px;
    height: 50px;
    display: flex;
    justify-content: center;
}




.roll-button {
    background: white;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: visible;
}
.button-value {
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: black;

}
a {
    text-decoration: none;
    color: white;
}
.again-button-box {
    background: rgb(173, 5, 5);
    width: 104px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    display: none;
}
.button-value-2 {
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: white;
    margin-top: 9px;
    margin-left: 17px;
}
